<div class="col-md-8">
<table class="table table-striped">
    <caption style="text-align:center">Ранее созданные навыки</caption>
    <tbody>
        <% @skills.each do |item| %>
          <tr>
            <td width='80%'><%= item.name %></td>
            <td width='10%'><%= link_to_unless item.accepted, 'Активировать', accept_skill_path(item.id), class: 'btn btn-primary btn-xs' %></td>
            <td width='10%'><%= link_to 'Удалить', skill_path(item.id), method: :delete, class: 'btn btn-danger btn-xs' %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>